*,
::before,
::after {
    box-sizing: border-box;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

:root {
--c-primary: #111111;
--c-bgc-light: #FAFAFA;
--c-white: #FFFFFF;
--c-alfalLight: #FFFFFF70;
--c-btn-primary: #FD9222;
--c-bgc-dark: #1E1823;
--c-icons-light: #FFFFFF50;
--c-primary-transparent: #11111110;

}

body {
    color: var(--c-primary);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--c-bgc-light);
    font-size: 14px;
}

h1,
h2,
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
}


/* -------General styles------------- */

 .mini-color {
    color: var(--c-btn-primary);
 }

  .sensations-tittle {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: 0.03;
    text-transform: uppercase;
  }

  .images {
    max-width: 100%;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.section {
    padding: 64px 0;
}

/* ------------------------Header--------------- */

.logo {
    color: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
}

.logo-style {
    font-style: italic;
}

.img-header {}

.nav-header {}

.nav-header-list {}

.nav-header-item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02;
}

.nav-header-link {
    color: inherit;
}

.icons-header {}

/*--------------------Main-------------- */

   /* Section hero */

   .hero-section {
    padding: 380px 0;
    background-color: var(--c-primary);
   }

.hero-title {
    color: var(--c-white);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: 0.03;
    max-width: 484px;
    margin-bottom: 32px;
    max-width: 484px;
}

.primery-button {
    background-color: var(--c-btn-primary);
    color: var(--c-white);
    font-weight: 600;
    line-height: normal;
    border: none;
    padding: 14px 40px;
    border-radius: 100px;
}

.secondary-button {
    color: var(--c-white);
    border-radius: 100px;
    border: 1px solid var(--c-white);
    font-weight: 600;
    line-height: normal;
    padding: 14px 40px;
}

.scrol-down {
    color: var(--c-white);
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: 0.03;

    background-color: var(--c-primary);
}

.img-scrol {

}

 /* Section Our advantages */

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
 .section-advantages {
    background-color: var(--c-bgc-dark);
    padding-top: 50px;
    padding-bottom: 50px;
 }

 .advantages-list {}

 .advantages-item {}

 .icons-advantages {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid var(--c-icons-light);
    margin-bottom: 22px;
 }

 .subtittle-advantages {
    color: var(--c-white);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
 }

 .text-advantages {
    color: var(--c-alfalLight);
        line-height: normal;
        letter-spacing: 0.02;
 }

 /* ----------Section sensations----------- */


 .section-sensations {}

 .text-sensations {
    text-align: center;
    line-height: 1.28;
    letter-spacing: 0.01;
 }

 .images-sensations-chocolate {
    border-radius: 15px;
    background: var(--c-btn-primary);
 }

 .images-sensations-milk {
    border-radius: 15px;
    border: 1px solid var(--c-btn-primary);
    background: var(--c-white);
 }

 .images-sensations-nuts {
    border-radius: 15px;
    background: var(--c-bgc-dark);
 }

 .images-sensations-semi {
    border-radius: 15px;
    border: 1px solid var(--c-btn-primary);
    background: var(--c-white);
 }


/*----------Section How it's made ---------------Recipe---------- */

 .section-recipe {}

 .icons-recipe {}
 
 .subtittle-recipe {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
 }

 .recipe-list {}

 .recipe-item {}

 .subtext-recipe {
    line-height: 1.28px;
    letter-spacing: 0.02;
 }


 /* -----------Section Our products------------ */

.section-products {}

.products-list {}

.product-item {}

.subtittle-products {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.02;
    text-transform: uppercase;
}

.text-products {
    color: var(--c-alfalLight);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02;
}

.price-product-btn {
    border-radius: 100px;
    border: 1px solid var(--c-primary-transparent);
    background-color: var(--c-bgc-light);
    color: var(--c-primary);
    font-weight: 600;
    line-height: normal;
}

