/* --Base-- */

html {
    scroll-behavior: smooth;
}

*,
::before,
::after {
    box-sizing: border-box;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

input {
    font-family: inherit;
}

button {
    font-family: inherit;
    color: currentColor;
}

:root {
--c-primary: #111111;
--c-bgc-light: #FAFAFA;
--c-white: #FFFFFF;
--c-alfalLight: #FFFFFF70;
--c-btn-primary: #FD9222;
--c-bgc-dark: #1E1823;
--c-icons-light: #FFFFFF50;
--c-primary-transparent: #11111110;
--c-black: #000000;
--c-red: #f21f2e;
--c-bg-ocean: #404BBF;
}

body {
    color: var(--c-primary);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--c-bgc-light);
    font-size: 14px;
}


/* -------General styles------------- */

 .mini-color {
    color: var(--c-btn-primary);
 }

  .section-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }

.container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.section {
    margin-bottom: 72px;
}

/* ------------------------Header--------------- */

.header {
    padding-bottom: 8px;
}

.header-inner {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 24px;
}

.header-socials {
    display: flex;
    align-items: center;
    gap: 18px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    color: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-style {
    font-style: italic;
}

.menu-button-mobile {
    min-height: 28px;
    min-width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: auto;
} 

.nav-header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 24px;
}

.nav-header-list {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 24px;
}

.nav-header-link {
    display: inline-block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02;
    padding: 24px 0;
    color: inherit;
}

.nav-header-link:hover {
    color: var(--c-btn-primary);
}


.header-link-social {
    fill:none;
    stroke: var(--c-primary);
    transition: 0.5s ease-in-out;
}

.header-link-social:hover {
    stroke: var(--c-btn-primary);
}


/*--------------------Main-------------- */

   /* Section hero */
    .hero-section {
    margin-bottom: 70px;
}

   .herro-inner {
    max-width: 375px;
    border-radius: 30px;
    background-color: var(--c-primary);
    /* padding: 380px 40px 40px; */
    padding: 395px 20px 27px;
    background-image: url(../images/hero-bg_mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hero-title {
    color: var(--c-white);
    /* font-size: 28px; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: 0.03;
    max-width: 295px;
    margin-bottom: 32px;
}

.hero-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
}

.container-actions {
    display: flex;
    gap: 8px;
}

.primery-button {
    background-color: var(--c-btn-primary);
    color: var(--c-white);
    font-weight: 600;
    border: none;
    padding: 12px 28px;
    border-radius: 100px;
    max-width: 100%;
    flex-shrink: 0;
}

.secondary-button {
    max-width: 100%;
    color: var(--c-white);
    border-radius: 100px;
    border: 1px solid var(--c-white);
    font-weight: 600;
    line-height: normal;
    margin-right: 16px;
    padding: 12px 28px;
    flex-shrink: 0;
}

.hero-arrow {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-right: auto;
    color: var(--c-white);
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: 0.03;
}
   
.hero-arrow:hover {
    color: var(--c-btn-primary);
}

.hero-arrow-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    fill: var(--c-btn-primary);
    background-color: var(--c-white);
    border-radius: 50%;
    animation: bounce 2s infinite reverse;
}

.hero-arrow:hover .hero-arrow-link {
    fill: var(--c-primary);
}

 @keyframes bounce {
     0% {
         transform: translateY(0);
     }

     50% {
        transform: translateY(5px);
     }

     100% {
         transform: translateY(0);
     }
 }

@media screen and (min-resolution: 192dpi) {
    .herro-inner {
        background-image: url(../images/hero-bg_mob@2x.jpg);
    }
}

 /* Section Our advantages */

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
 .section-advantages {
    background-color: var(--c-bgc-dark);
    padding-top: 20px;
    padding-bottom: 20px;
 }

 .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 }

 .advantages-item {
    /* flex-basis: 100%; */
 }


 .advantages-item:not(:last-child) {
    padding-right: 18px;
    position: relative;
 }

  .advantages-item:not(:last-child)::after {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: 124px;
    height: 1px;
    background-color: var(--c-alfalLight);
    transform: rotate(-90deg) translatex(50%);
    transform-origin: 100% 0;
    content: '';
     
  }

 .advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--c-btn-primary);
    width: 62px;
    height: 62px;
    margin-bottom: 22px;
    border-radius: 50%;
    border: 1px solid var(--c-icons-light);
 }
 .subtitle-advantages {
    color: var(--c-white);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
 }

 .text-advantages {
    color: var(--c-alfalLight);
        line-height: normal;
        letter-spacing: 0.02;
 }

 /* ----------Section ingridient----------- */


 /* ingridient */

 .container-sensations {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

  .sensations-title {
      margin-bottom: 28px;
      font-weight: 20px;
      max-width: 283px;
  }

  .text-sensations {
      line-height: 1.28;
      letter-spacing: 0.01;
      margin-bottom: 50px;
      /* max-width: 486px; */
      max-width: 335px;
      text-align: center;
  }

  .sensations-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
  }

.ingridient-img {
    min-width: 224px;
    min-height: 171px;
}
  
.ingridient {
    padding: 20px;
}

 .sensations-item:first-child {
    border-radius: 15px;
    background: var(--c-btn-primary);
    color: var(--c-white);
 }

 .sensations-item:nth-child(even) {
    border: 1px solid var(--c-btn-primary);
    border-radius: 15px;
    background: var(--c-white);
    color: var(--c-primary);
 }

 .sensations-item:nth-child(3) {
    border-radius: 15px;
    background: var(--c-bgc-dark);
    color: var(--c-white);
}

/* ingridient overley */

.section-ingridient {
    margin-bottom: 72px;
}

.ingridient {
    position: relative;
    overflow: hidden;
}

.sensations-overley {
    position: absolute;
    border-radius: 15px;
    background-color: var(--c-white);
    overflow: auto;
    padding: 20px;
    inset: 0;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    }
    
.sensations:hover .sensations-overley {
    transform: translateY(0);
 }

.sensations-overley-title {
    color: var(--c-primary);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.container-overley-btn {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 14px;
}

.sensations-overley-btn {
    border-radius: 35px;
    background-color: var(--c-btn-primary);
    border: none;
    color: var(--c-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 10px;
    line-height: 1.2;
    padding: 6px 16px;
}

.sensations-overley-link {
    border-radius: 35px;
    border: 1px solid var(--c-btn-primary);
    background: var(--c-bgc-light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    color: var(--c-primary);
    font-size: 10px;
    line-height: 1.2;
}

.sensations-overley-text {
    color: var(--c-primary);
    line-height: 1.28;
    text-align:justify;
}


/*----------Section How it's made ---------------Recipe---------- */

 .video-inner {
    display: flex;
    align-items: center;
    gap: 20px;
 }

 .video-content {
    padding: 32px;
    flex-basis: calc((100 - 20px /2));
 }

 .video-media {
 }

 .images-background {
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
 }

 /* .icons-recipe {} */
 
 .subtittle-recipe {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 28px;
    max-width: 350px;
 }


 .subtext-recipe {
    line-height: 1.28px;
    letter-spacing: 0.02;
 }

  .subtext-recipe-item:not(:last-child), 
   .subtext-recipe-item:not(:first-child){
     margin-bottom: 24px;
  }


 /* -----------Section Our products------------ */

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-item:not(:first-child) {
    display: none;
}

.product-one {
    display: block;
    padding: 32px 52px;
    flex-basis: 100%;
}


.product {
    border-radius: 15px;
    border: 1px solid var(--c-primary-transparent);
    background: var(--c-white);
    padding: 32px 20px;
    text-align: center;
}

/* Overley */

.product-images {
    position: relative;
    overflow: hidden;
}

.product-overley {
    position: absolute;
    inset: 0;
    padding: 15px;
    background-color: var(--c-btn-primary);
    color: var(--c-white);
    transform: translateY(100%);
    transition: transform 1s;
}

.product:hover .product-overley {
    transform: translateY(0);
}

.subtitle-product {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.02;
    text-transform: uppercase;
}

.text-product {
    color: var(--c-alfalLight);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02;
}

.price-product-btn {
    border-radius: 100px;
    border: 1px solid var(--c-primary-transparent);
    background-color: var(--c-bgc-light);
    color: var(--c-primary);
    font-weight: 600;
    line-height: normal;
    margin-top: 26px;
}

/* ---------Section sellers-------- */

.sellers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.sellers-item:nth-child(3) {
    display: none;
}

.sellers-item {
    margin-bottom: 20px;
}

.sellers-img {
  max-width: 335px; 
  max-height: 464px;
}

.container-sallers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sallers-text {
    line-height: 1.28;
    max-width: 408px;
}

.primery-button {
    font-size: 14px;
}


/* Section newchocolate */

/* .section-newchocolate {
    padding: 72px 366px;
    background-image: url(../images/newchocolate/whiskinchocolate_desk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-newchocolate {
    color: var(--c-white);
} */

/* ------Section reviews--------- */

.title-review {
    margin-bottom: 70px;
}

.reviews-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.reviews-item {
    position: relative;
    max-width: 335px;
}

.reviews-item:not(:first-child) {
   display: none;
}

.review {
    border-radius: 15px;
    border: 1px solid var(--c-primary-transparent);
    background: var(--c-white);
    box-shadow: 0px 9px 26px 0px rgba(215, 228, 249, 0.25);
    padding: 56px 24px 42px;
    text-align: center;
}

.review-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.review-name {
    margin-bottom: 36px;
    color: var(--c-primary);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
}

.review-description {
    color: rgba(17, 17, 17, 0.70);
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0.02;
}

.button-review {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--c-btn-primary);
    padding: 12px 28px;
    color: var(--c-primary);
    font-weight: 600;
    margin: 0 auto;
}

/* Modal */

.backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
    overflow: auto;
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
    transform: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    max-width: 610px;
    width: 100%;
    max-height: 1058px;
    height: 100%;
    overflow: auto;
    background-color: var(--c-bgc-light);
    border-radius: 15px;
    padding: 48px;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
    overflow: auto;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: var(--c-bgc-light);
}

.modal-close-icon {
    stroke: var(--c-primary);
}

.backdrop.is-hidden .modal {
    transform: scale(0);
}
 
/* Person */
.modal-form-text {
    color: var(--c-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.container-person {
    display: flex;
    gap: 21px;
}

.modal-person-input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    width: 100%;
    padding: 22px 24px;
    outline: transparent;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.03);
    margin-bottom: 18px;
    transition: border-color 250ms ease-in-out;
}

.modal-person-input:not(:placeholder-shown):invalid {
    border-color: var(--c-red);
}

.modal-person-input::placeholder {
    color: rgba(64, 64, 64, 0.30);
    font-size: 18px;
}

.modal-person-input:focus {
  outline: none;
  border-color: var(--c-btn-primary);
}


.modal-person-ukraine {
    position: relative;
}

.modal-person-ukraine::after {
   position: absolute;
   top: 50%;
   left: 132px;
   transform: rotate(-90deg) translatex(50%);
   transform-origin: 100% 0;
   width: 32px;
   height: 2px;
   background-color: rgba(17, 17, 17, 0.05);
   box-shadow: 2.72246px 0px 0px 0px rgba(0, 0, 0, 0.10);
   content: '';
}

.modal-person-icon {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%); 
    margin-right: 18px;   
}

.person-input {
   padding-left: 170px;
}

.input-textarea {
    min-width: 138px;
}

.phone-number {
    position: absolute;
    top: 50%;
    left: 74px;
    transform: translateY(-50%);
    color: var(--c-black);
    font-size: 18px;
    font-weight: 500;
}

/* Checkbox */

.modal-checkbox-wrap {
    margin: 10px 0;
}

.modal-checkbox-check {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(64, 64, 64, 0.30);
    margin-right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   fill: transparent;
   border-radius: 2px;
}

.modal-form-link {
  color: var(--c-bg-ocean);
  text-decoration: underline;
}

.modal-checkbox-input:checked + .label-checkbox .modal-checkbox-check {
    background-color: var(--c-bg-ocean);
    border: none;
    fill: var(--c-white);
}

/* --------Mobal menu----------- */

.mobal-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 136px 46px 20px;
    background-color: var(--c-bgc-dark);
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
}

.mobal-menu  .is-hidden {
    transform: translateX(100%);
}

.mobal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    min-height: 28px;
    min-width: 28px;
    border: none;
    background-color: var(--c-bgc-dark);
}

.mobal-close-icon {
    fill: transparent;
    stroke: var(--c-white);
}

.mobal-list {
    margin-bottom: auto;
}

.mobal-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobal-link {
    color: var(--c-white);
}

.mobal-socials-list {
    display: flex;
    gap: 18px;    
}

.header-link-social {
    stroke: var(--c-white);
}

/*============== Media================= */

@media screen and (max-width: 767.98px) {
    .nav-header-list,
    .header-socials {
        display: none;
    }
}

/* Tablet screen */
@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
}

/* Header */
.nav-header-list,
.header-socials {
    display: none;
}

.mobal-menu {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 290px;
    width: 100%;
    max-height: 1024px;
    height: 100%;
    padding: 156 84px 24px;
}

.mobal-link.active {
    color: var(--c-btn-primary);
    
}

/* hero */

.hero-section {
    margin-bottom: 50px;
}

 .herro-inner {
     max-width: 768px;
     padding: 670px 40px 40px;
     background-image: url(../images/hero-bg_tab.jpg);
 }

 .hero-title {
     max-width: 484px;
     font-size: 28px;
 }

 .primery-button {
     padding: 14px 40px;
 }

 .secondary-button {
     padding: 14px 40px;
 }

 .hero-arrow {
     margin-left: auto;
 }
 

 @media screen and (min-resolution: 192dpi) {
     .herro-inner {
         background-image: url(../images/hero-bg_tab@2x.jpg);
 }
}

/* advantages */

.section-advantages {
    padding-top: 50px 32px;
    margin-bottom: 100px;
}

.advantages-list {
    gap: 32px 60px;
}

.advantages-item {
    flex-basis: calc((100% - 60px) / 2);
}

  .sensations-title {
      font-size: 24px;
      max-width: 411px;
  }


/* ingridient */

.section {
    margin-bottom: 100px;
}

.sensations-list {
    gap: 32px;
}

.sensations-item {
    flex-basis: ((100% - 32px) / 2);
}

.sensations-title {
     font-size: 24px;
     max-width: 411px;
 }

   .text-sensations {
      max-width: 486px; 
   }

/* products */

.product-item:nth-child(-n+2) {
    display: flex;
    padding: 32px 20px;
    flex-basis: calc((100% - 18px) /2);
} 

/* review */

.title-review {
    margin-bottom: 90px;
}

.reviews-list {
    gap: 16px;
}

.reviews-item {
    position: relative;
    /* flex-basis: calc((100% - 56px) /3); */
}

.reviews-item:nth-child(-n+2) {
    display: flex;
    flex-basis: ((100% - 16px) / 2);
}

/* sellers */

.sellers-list {
    display: flex;
    gap: 16px;
}

.sellers-item:nth-child(3) {
    display: flex;
}

.sellers-item:nth-child(2) {
    display: none;
}

.sellers-item {
    flex-basis: calc((100% - 16px) / 2);
}

.container-sallers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sellers-img {
    max-width: 344px;
}
.primery-button {
   margin-left: auto;
}

}


/* Desctop screen */
@media screen and (min-width: 1200px){
.container {
     max-width: 1200px;
 }

 /* Header */
.nav-header-list,
.header-socials {
    display: flex;
}

.menu-button-mobile {
    display: none;
}
.header-link-social {
    fill: none;
    stroke: var(--c-primary);
    transition: 0.5s ease-in-out;
}

.header-link-social:hover {
    stroke: var(--c-btn-primary);
}

/* hero */

  .herro-inner {
      max-width: 1200px;
      padding: 380px 40px 40px;
      background-image: url(../images/hero-bg_desk.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
      .herro-inner {
          background-image: url(../images/hero-bg_desk@2x.jpg);
      }
  }

.hero-section {
    margin-bottom: 72px;
}

/* advantages */

.section-advantages {
    padding: 50px;
    margin-bottom: 128px;
}

.advantages-list {   
    gap: 72px;
    flex-wrap: nowrap;
}

 .advantages-item:not(:last-child)::after {
    display: block;
 }

/* ingridient */
.section {
    margin-bottom: 128px;
}

.ingridient-img {
    max-width: 206px;
    min-height: 160px;
}

.sensations-list {
    gap: 20px;
}

.sensations-item {
    flex-basis: ((100% - 60px) /4);
}

 .sensations-title {
     font-size: 24px;
     max-width: 411px;
 }

/* products  */
 
.product-item:nth-child(n+1) {
    display: flex;
    padding: 32px 20px;
    flex-basis: calc((100% - 54px) /4);
}

/* review */

.title-review {
    margin-bottom: 90px;
}

.reviews-list {
    gap: 28px;
}

.reviews-item {
    position: relative;
    flex-basis: calc((100% - 56px) /3);
}

.reviews-item:nth-child(n+3) {
    display: flex;
}

/* sellers  */

 .sellers-list {
    gap: 16px;
}
.sellers-item:nth-child(3),
.sellers-item:nth-child(2) {
    display: flex;
}

.sellers-item {
    flex-basis: calc((100% - 32px) / 3);
}

.sellers-img {
    max-width: 368px;
}

   
}
